
a{
  text-decoration: none;
}

.prescription a{
  background-color: #015c36; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.prescription .top{
  display: flex;
  justify-content: space-between;
}